.footer {
    height: 7vh;
    width: 100vw;
    background-color: rgb(21, 21, 21);
    border-radius: 0.2vw;
    display: flex;
}

.footer-left {
    height: 100%;
    width: 33.33%;
    display: flex;
    align-items: center;
}

.footer-left img {
    height: 75%;
    margin-left: 0.3vw;
    border-radius: 0.2vw;
}

.add {
    color: rgb(153, 153, 153);
    font-size: 0.8vw;
    margin-left: 0.6vw;
    margin-top: 0.2vw;
    cursor: pointer;
    transition: 0.3s ease;
}

.add:hover {
    color: white;
}

.song-band {
    margin-left: 0.5vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    display: grid;
    gap: 0.3vh;
}

.song-band h4 {
    font-size: 0.7vw;
}

.song-band p {
    font-size: 0.5vw;
    color: rgb(152, 152, 152);
}

.footer-middle {
    height: 100%;
    width: 33.33%;
}

.footer-controls {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(168, 168, 168);
}

.footer-controls span {
    margin-top: 1vw;
    margin-left: 0.8vw;
    margin-right: 0.8vw;
}

.footer-m-button {
    transition: 0.3s ease;
    cursor: pointer;
}

.footer-m-button:hover {
    color: white;
}

.footer-m-button-play {
    font-size: 1.4vw;
    cursor: pointer;
    transition: 0.3s ease;
}

.footer-m-button-play:hover {
    color: white;
}

.progress-bar-main {
    height: 50%;
    display: flex;
    justify-content: center;
}

.progress-bar-main p {
    margin-top: 2.2%;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    font-size: 0.6vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(116, 116, 116);
}

.progress-bar {
    margin-top: 3%;
    width: 80%; /* Full width */
    background-color: #979797; /* Light grey background */
    border-radius: 10px; /* Rounded corners */
    overflow: hidden; /* Ensures the progress element stays within the container */
    height: 0.2vh; /* Height of the progress bar */
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2); /* Optional: Add inner shadow for depth */
}

.progress {
    width: 7%; /* Adjust this percentage to change the progress */
    background-color: #ffffff; /* Green background */
    height: 100%; /* Full height */
    border-radius: 1vh 0 0 1vh; /* Rounded corners on the left side */
    transition: 0.1s ease; /* Smooth transition for progress changes */
}

.dot {
    font-size: 100px;
    
}

.progress:hover {
    background-color: rgb(0, 255, 0); /* Light grey background on hover */
}

.footer-right {
    height: 100%;
    width: 33.33%;
    color: rgb(154, 154, 154);
    display: flex;
    align-items: center;
    gap: 0.5vw;
    justify-content: end;
}

.footer-right span {
    cursor: pointer;
    transition: 0.3s ease;
    font-size: 0.7vw;
}

.footer-right span:hover {
    color: white;
}

.progress-bar-right {
    width: 10%; /* Full width */
    background-color: #979797; /* Light grey background */
    border-radius: 10px; /* Rounded corners */
    overflow: hidden; /* Ensures the progress element stays within the container */
    height: 0.2vh; /* Height of the progress bar */
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2); /* Optional: Add inner shadow for depth */
}

.last-element {
    margin-right: 2vh;
}